body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.logo {
  width: 60px;
  margin-top: -10px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 20%;
  position: relative;
  transition: transform 500ms;
  display: block;
}

.container img {
  width: 100%;
  opacity: 1;
  height: auto;
  display: block;
}

.row .container:focus,
.row .container:hover {
  transform: scale(1.5);
  z-index: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate( -50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 30px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
